xwrhome.ddns.net {

  proxy /helloworld memo-myhelloworld:8484 {
    transparent
  }

  root /memo/configs/caddy/www
  ext .html .htm .php
  log  /memo/logs/caddy/localhost.log {
    rotate_size 5 # Rotate after 50 MB
    rotate_age  90 # Keep rotated files for 90 days
    rotate_keep 20 # Keep at most 20 log files
  }
  errors  /memo/logs/caddy/error.log {
    rotate_size 5 # Rotate after 50 MB
    rotate_age  90 # Keep rotated files for 90 days
    rotate_keep 20 # Keep at most 20 log files
  }
  index index.html index.htm
  gzip
  tls williamtse0121@gmail.com
}

xwrhome.ddns.net:5000 {
  proxy / memo-registry:5000
}
